<bryntum-demo-header
    link = "../../../../../#example-frameworks-angular-tasks"
></bryntum-demo-header>

<bryntum-scheduler
    #scheduler
    [barMargin] = "schedulerConfig.barMargin"
    [cellEditFeature] = "schedulerConfig.features.cellEdit"
    [columns] = "schedulerConfig.columns"
    [crudManager] = "schedulerConfig.crudManager"
    [endDate] = "schedulerConfig.endDate"
    [eventColor] = "schedulerConfig.eventColor"
    [eventDragFeature] = "schedulerConfig.features.eventDrag"
    [eventEditFeature] = "schedulerConfig.features.eventEdit"
    [eventRenderer] = "schedulerConfig.eventRenderer"
    [eventResizeFeature] = "schedulerConfig.features.eventResize"
    [eventStyle] = "schedulerConfig.eventStyle"
    [nonWorkingTimeFeature] = "schedulerConfig.features.nonWorkingTime"
    [rowHeight] = "schedulerConfig.rowHeight"
    [startDate] = "schedulerConfig.startDate"
    [treeFeature] = "schedulerConfig.features.tree"
    [viewPreset] = "schedulerConfig.viewPreset"
    (onCatchAll) = "onCatchAll($event)"
    (onCellDblClick) = "onCellDblClick($event)"
></bryntum-scheduler>
