.b-sch-event-content {
    font-weight    : 500;
    flex-direction : column;

    :first-child {
        font-size   : .8em;
        font-weight : 300;
    }
}

.b-sch-style-dashed div {
    text-align : center;
}
