/**
 * App global styles
 */
@import "@bryntum/scheduler/scheduler.material.css";
@import "@bryntum/demo-resources/scss/example.scss";

app-root {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}

#content {
    flex    : 1;
    display : flex;
}


.b-sch-event {
    border-radius : 3px;
}

.equipment-grid {
    flex        : 0 0 140px;
    height      : 100%;
    display     : flex;
    width       : 140px;
    border-left : 1px solid #e0e0e0;

    #equipment {
        border-left : 2px solid #aaa;

        .b-grid-cell {
            cursor : pointer;
        }
    }
}

.b-sch-event-wrap .b-sch-event {
    border-radius   : 3px;
    box-shadow      : 0 1px 1px 0 rgba(0, 0, 0, .25);
    flex-direction  : column;
    align-items     : start;
    justify-content : space-around;
}

.b-equipment {
    flex-direction  : column;
    justify-content : center;

    i {
        margin-right  : 10px;
        color         : #4887e5;
        font-size     : 2em;
        margin-bottom : 0.3em;
    }

    &.b-dragging {
        justify-content : center;
        background      : green;
        color           : #fff;

        i {
            color : #fff;
        }
    }

    &.b-drag-invalid {
        background : red;
    }
}

.b-sch-event-content {
    flex-direction : column;
}

.b-sch-event-header {
    padding     : 1.5em 0 0;
}

.b-sch-event-footer {
    padding     : 0.5em 0 0;
    margin-top  : 0;
}

.b-grid-header {
    height : 3em;
}

.b-filter-bar-field {
    margin : 0;
}

.b-aborting.b-grid-cell {
    transition     : transform 0.3s !important;
    background     : red;
    position       : absolute !important;
    z-index        : 10000;
    pointer-events : none;
    opacity        : 0.8;
    box-sizing     : border-box;
}
