<bryntum-demo-header
    link  = "../../../../../#example-frameworks-angular-custom-event-editor"
></bryntum-demo-header>

<bryntum-scheduler
    #scheduler
    [barMargin]         = "schedulerConfig.barMargin"
    [columns]           = "schedulerConfig.columns"
    [crudManager]       = "schedulerConfig.crudManager"
    [endDate]           = "schedulerConfig.endDate"
    [eventEditFeature]  = "schedulerConfig.eventEditFeature"
    [eventRenderer]     = "eventRenderer"
    [eventStyle]        = "schedulerConfig.eventStyle"
    [resourceImagePath] = "schedulerConfig.resourceImagePath"
    [rowHeight]         = "schedulerConfig.rowHeight"
    [startDate]         = "schedulerConfig.startDate"
    [viewPreset]        = "schedulerConfig.viewPreset"
></bryntum-scheduler>
