/**
 * You can add global styles to this file, and also import other style files
 */
@import '~@bryntum/demo-resources/scss/example.scss';
@import '~@bryntum/scheduler/scheduler.material.css';

body {
    margin      : 0;
    font-family : Roboto, sans-serif;
}

app-root {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}

.striped {
    background : repeating-linear-gradient(
            -55deg,
            rgba(230, 230, 230, 0.3),
            rgba(230, 230, 230, 0.3) 10px,
            rgba(240, 240, 240, 0.3) 5px,
            rgba(240, 240, 240, 0.3) 20px
    );
}
