/**
 * Application global styles
 *
 * cSpell: ignore woff
 */

@import '~@bryntum/scheduler/scheduler.stockholm.css';
@import '~@bryntum/demo-resources/scss/example.scss';

#app {
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}

.b-scheduler-container {
    flex : 1;
}
.b-sch-event {
    border-radius : 3px;
    font-weight   : 300;
    box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .25);

    &.lubrication {
        background: repeating-linear-gradient(-45deg, #01BAEF, #01BAEF 7px, white 7px, white 14px);
        border-color: #01BAEF;
    }
}

.b-sch-line-start,
.b-sch-line {
    border-color     : #f33;

    &.special {
        border-color     : #000;
    }
}

.b-sch-event-wrap.b-milestone-wrap {
    .b-sch-event.b-sch-event-withicon .b-sch-event-content {
        border-radius : 100%;
        font-size     : 50%;
        width         : 2em;
        height        : 2em;
        box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .25);

        .b-fa, .b-icon {
            color : inherit;;
        }
    }

    label {
        color : #777;
    }
}

.b-sch-dependency {
    &.custom-styling-is-easy {
        stroke-dasharray : 5, 5;
        stroke-width     : 2;
    }

    &.custom-styling-is-really-easy {
        stroke-dasharray : 6;
    }
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
}
