<bryntum-scheduler
    #scheduler

    [barMargin]  = "schedulerConfig.barMargin"
    [columns]    = "schedulerConfig.columns"
    [endDate]    = "schedulerConfig.endDate"
    [events]     = "schedulerConfig.events"
    [mode]       = "schedulerConfig.mode"
    [resources]  = "schedulerConfig.resources"
    [rowHeight]  = "schedulerConfig.rowHeight"
    [startDate]  = "schedulerConfig.startDate"
    [viewPreset] = "schedulerConfig.viewPreset"

    [resourceImagePath]  = "schedulerConfig.resourceImagePath"
    [resourceTimeRanges] = "schedulerConfig.resourceTimeRanges"

    [resourceTimeRangesFeature] = "schedulerConfig.features.resourceTimeRanges"
    [eventTooltipFeature] = "schedulerConfig.features.eventTooltip"
></bryntum-scheduler>
