/**
 * App global styles
 */
@import "@bryntum/scheduler/scheduler.material.css";
@import "@bryntum/demo-resources/scss/example.scss";

app-root {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}

bryntum-scheduler {
    flex : 1;
}

.b-sch-event {
    border-radius : 3px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.container bryntum-scheduler {
    flex: 1;
}
