
 <bryntum-scheduler
    #scheduler2
    [barMargin]         = "(store.select('barMargin') | async).barMargin"
    [columns]           = "schedulerConfig.columns"
    [endDate]           = "schedulerConfig.endDate"
    [eventColor]        = "schedulerConfig.eventColor"
    [events]            = "schedulerConfig.events"
    [resourceImagePath] = "schedulerConfig.resourceImagePath"
    [resources]         = "schedulerConfig.resources"
    [rowHeight]         = "schedulerConfig.rowHeight"
    [startDate]         = "schedulerConfig.startDate"
    [viewPreset]        = "schedulerConfig.viewPreset"
></bryntum-scheduler>
