$meeting-eventtype-color     : purple;
$internal-eventtype-color    : orange;
$appointment-eventtype-color : green;

.b-scheduler {
    .b-sch-event,
    .b-sch-event:hover,
    .b-sch-event.b-sch-event-selected,
    .b-sch-event.b-sch-event-selected:hover {
        &.b-sch-eventtype-Meeting {
            background-color : $meeting-eventtype-color;
            border-color     : $meeting-eventtype-color;
        }

        &.b-sch-eventtype-Internal {
            background-color : $internal-eventtype-color;
            border-color     : $internal-eventtype-color;
        }

        &.b-sch-eventtype-Appointment {
            background-color : $appointment-eventtype-color;
            border-color     : $appointment-eventtype-color;
        }
    }
}

.b-sch-event-content {
    display     : flex;
    align-items : center;
}

.b-sch-event-header {
    font-size : .8em;
}

.b-sch-event-footer {
    font-weight : 400;
}

.b-sch-range {
    background : repeating-linear-gradient(-55deg, rgba(230, 230, 230, 0.7), rgba(230, 230, 230, 0.7) 10px, rgba(240, 240, 240, 0.7) 5px, rgba(240, 240, 240, 0.7) 20px);
    opacity    : 0.7;
}

.b-theme-classic-dark {
    .b-sch-range {
        background : repeating-linear-gradient(-55deg, rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7) 10px, rgba(110, 110, 110, 0.7) 5px, rgba(110, 110, 110, 0.7) 20px);
    }
}
