.box {
    width         : 1em;
    height        : 1em;
    border-radius : 3px;
    margin-right  : .5em;
}

.capacity {
    color       : #666;
    margin-left : .5em;
}

.b-sch-event span {
    font-weight : 300;
    margin-left : .5em;
}
