/**
 * Application global sass file
 *
 * Taken from the original example. Modified, amended.
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
