<bryntum-demo-header
    link  = "../../../../../#example-frameworks-angular-recurring-events"
></bryntum-demo-header>

<bryntum-scheduler
    #scheduler
    [columns]                ="schedulerConfig.columns"
    [crudManager]            ="schedulerConfig.crudManager"
    [enableRecurringEvents]  ="schedulerConfig.enableRecurringEvents"
    [endDate]                ="schedulerConfig.endDate"
    [eventRenderer]          ="schedulerConfig.eventRenderer"
    [eventTooltipFeature]    ="schedulerConfig.features.eventTooltip"
    [labelsFeature]          ="schedulerConfig.features.labels"
    [resourceImagePath]      ="schedulerConfig.resourceImagePath"
    [rowHeight]              ="schedulerConfig.rowHeight"
    [sortFeature]            ="schedulerConfig.features.sort"
    [startDate]              ="schedulerConfig.startDate"
    [viewPreset]             ="schedulerConfig.viewPreset"
></bryntum-scheduler>
