<bryntum-demo-header
    link  = "../../../../../#example-frameworks-angular-dependencies"
></bryntum-demo-header>

<bryntum-scheduler
    #scheduler
    [barMargin]           = "schedulerConfig.barMargin"
    [columns]             = "schedulerConfig.columns"
    [crudManager]         = "schedulerConfig.crudManager"
    [dependenciesFeature] = "schedulerConfig.dependenciesFeature"
    [endDate]             = "schedulerConfig.endDate"
    [eventColor]          = "schedulerConfig.eventColor"
    [eventDragFeature]    = "schedulerConfig.eventDragFeature"
    [eventRenderer]       = "schedulerConfig.eventRenderer"
    [eventStyle]          = "schedulerConfig.eventStyle"
    [resourceImagePath]   = "schedulerConfig.resourceImagePath"
    [rowHeight]           = "schedulerConfig.rowHeight"
    [startDate]           = "schedulerConfig.startDate"
    [stripeFeature]       = "schedulerConfig.stripeFeature"
    [timeRangesFeature]   = "schedulerConfig.timeRangesFeature"
    [viewPreset]          = "schedulerConfig.viewPreset"
></bryntum-scheduler>
