.b-gridbase {

    .b-grid-footer-container {
        height : 60px;
    }

    .b-grid-footer.b-sch-timeaxiscolumn {
        align-items : flex-end;

        .b-timeaxis-tick {
            position    : relative;
            overflow    : visible;
            background  : #FBC02D;
            align-items : center;
            transition  : height 0.3s;
            padding     : 0;

            &:not(:last-child) {
                border-right : none;
            }

            label {
                position    : absolute;
                top         : -15px;
                overflow    : hidden;
                font-weight : bold;
                font-size   : 0.85em;
            }

            &.b-summarybar-label-inside label{
                top         : 3px;
            }
        }
    }
}

