/**
 * Angular app component scss file
 */
 header {

    label {
        color: white;
        text-transform: uppercase;
        margin-right: 5px;
        font-size: 1em;
    }

    input {
        font-size: 1em;
        height:2.3em;
        border: 1px solid silver;
        border-radius: 3px;
        padding-left:10px;
        width: 4em;
    }

    input[type=number]::-webkit-inner-spin-button {
        height: 40px;
        width: 20px;
    }
}
