<bryntum-scheduler
    #scheduler1
    [barMargin]         = "(store.select('barMargin') | async).barMargin"
    [columns]           = "schedulerConfig.columns"
    [crudManager]       = "schedulerConfig.crudManager"
    [endDate]           = "schedulerConfig.endDate"
    [eventColor]        = "schedulerConfig.eventColor"
    [resourceImagePath] = "schedulerConfig.resourceImagePath"
    [rowHeight]         = "schedulerConfig.rowHeight"
    [startDate]         = "schedulerConfig.startDate"
    [timeRangesFeature] = "schedulerConfig.timeRangesFeature"
    [viewPreset]        = "schedulerConfig.viewPreset"
></bryntum-scheduler>
