.b-sch-event-wrap .b-sch-event {
    border-radius : 3px;
    box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .25);
    align-items   : stretch;

    .b-sch-event-content {
        display         : flex;
        flex-direction  : column;
        align-items     : flex-start;
        justify-content : space-around;
    }
}

#bodycontainer {
    flex           : 1 1 0px;
    display        : flex;
    flex-direction : row;
    align-items    : stretch;

    > * {
        height : auto;
    }

    [data-ref=schedule] {
        flex : 1;
    }

    [data-ref=equipment] {
        flex        : 0 0 140px;
        border-left : 2px solid #aaa;

        .b-grid-cell {
            cursor : pointer;
        }
    }
}

.b-equipment {
    flex-direction  : column;
    justify-content : center;

    i {
        margin-right  : 10px;
        color         : #4887e5;
        font-size     : 2em;
        margin-bottom : 0.3em;
    }

    &.b-dragging {
        justify-content : center;
        background      : green;
        color           : #fff;

        i {
            color : #fff;
        }
    }

    &.b-drag-invalid {
        background : red;
    }
}

.b-sch-event-header,
.b-sch-event-footer {
    display     : flex;
    flex        : 1;
    align-items : center;
}

.b-sch-event-footer {
    padding : 0;
    margin  : 0;
}

[data-ref=equipment] {
    .b-grid-header-text {
        display : none;
    }
}

.b-grid-header {
    height : 57px;
}

.b-filter-bar-field {
    margin : 0;
}

.b-aborting.b-grid-cell {
    transition     : transform 0.3s !important;

    // https://app.assembla.com/spaces/bryntum/tickets/7168-drag-drop-cleanup-code-on-abort-is-interfering-with-animation/details#
    background     : red;
    position       : absolute !important;
    z-index        : 10000;
    pointer-events : none;
    opacity        : 0.8;
    box-sizing     : border-box;
}
